<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.example.myapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.myapp.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DicodingToDoAAD"
        tools:targetApi="31">
        <activity
            android:name=".ui.TaskActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.TaskActivity" />
        <activity
            android:name=".ui.detail.DetailTaskActivity"
            android:parentActivityName=".ui.TaskActivity" />

        <activity android:name=".ui.add.AddTaskActivity"
            android:parentActivityName=".ui.TaskActivity" />



        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notify_channel_name" />

        <service
            android:name=".notification.NotificationWorker"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".notification.NotificationWorker"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.myapp.NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>